
.App{
 padding-top: 5%;
 padding-bottom: 30%;
 background-color: brown;
}
#changeNav{
  margin-left:23%;
  margin-right: 23%;
  width: "800px";
   height: "100px";
}
.changeAlert{
  margin-left:23%
}
.changeAlert Input{
  width:280px;
  margin-top: 2%;
}
#changeDateAndTime{
 width: 60%;
position: absolute;
margin-left: 55%;
}
.changeAlertBox{
  width:50%;
  margin-left: 8.8%;
  margin-top:2%;
  
}
@media only screen and (max-width:1100px) {
  #changeInputBox{
    margin-top: 2vh;
    margin-left: -10px;
  }  
  #clearInput{
    width:20%;
  }
}
@media only screen and (max-width:1606px){
  #changeDateAndTime{
margin-top: 2vh;
position: relative;
margin-left: 0%;
width: 150%;
  }
}
@media only screen and (max-width:900px){
  #changeNav{
  background-color: blue;
  width: 40%;
  }
}